<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BeautyAndCosmetics.Properties.Settings.BeautyAndCosmetics_RMConnectionString" connectionString="Data Source=LOCALHOST;Initial Catalog=BeautyAndCosmetics_RM;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="BeautyAndCosmetics.Properties.Settings.BeautyAndCosmetics_RMConnectionString1" connectionString="Data Source=DESKTOP-12HNS2K;Initial Catalog=BeautyAndCosmetics_RM;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
</configuration>
